<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
      $(function() {
          $( "#dialog" ).dialog();
          $("#dialog").width(672);
                    $("#dialog").height(72);
      });
  </script>
</head>
<body>

<div id="dialog" title="Sistema Multiação Integrado">
  <p>Seja bem vindo à tela principal do Multiação. Aqui vão aparecer informações uteis que irão lhe auxiliar no manuseio do sistema...</p>
</div>
<script>
    $(function() {
        $( "#dialog-message" ).dialog({
            modal: true,
            buttons: {
                Ok: function() {
                    $( this ).dialog( "close" );
                }
            }
        });
    });
    
    
    
</script>
</head>
<body>

<div id="dialog-message" title="Logado com sucesso.">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    Login efetuado com sucesso.
  </p>
  <p>
    Seja Bem Vindo ao  <b>MultiAção</b>.
  </p>
</div>

</body>
